<body>
    <h1>Login</h1>
        <form method = "POST", action="/login", autocomplete="off">
            <div>{{ form.csrf_token}}</div>
            <div>{{ form.username.label}} {{form.username(class="css_class")}}</div>
            <div>{{ form.password.label}} {{form.password()}}</div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">login</button>
        
        </form>
    </body>
    </html>