<body>
<h1>Register</h1>
    <form method = "POST", action="/register", autocomplete="off">
        <div>{{form.csrf_token}}</div>
        <div>{{ form.username.label}} {{form.username(class="css_class")}}</div>
        <div>{{ form.password.label}} {{form.password()}}</div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
    
    </form>
</body>
</html>

